<h1>Welcome to Allergy Score Results</h1>
<form action="/score">
  <div class="form-group">
    <label for="allergy_score">Enter in your allergy score:
    </label>
    <input id="allergy_score" name="allergy_score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
